<script lang="ts">
  import VisibilityProvider from './providers/VisibilityProvider.svelte';
  import PedDoctor from './components/PedDoctor.svelte';
  import { debugData } from './utils/debugData';

  debugData([
    {
      action: 'setVisible',
      data: true,
    },
  ]);
</script>

<main>
  <VisibilityProvider>
    <PedDoctor />
  </VisibilityProvider>
</main>
