<script lang="ts">
  import { visibility } from "../store/stores";
  import { fetchNui } from "../utils/fetchNui";
  import Select from "svelte-select";
  import { skinOptions, type SkinOption } from "./PedDoctor";

  const pedSkinOptions = skinOptions;
  let pedSkinValue: SkinOption;

  const handleClientData = (skinModel?: string) => {
    fetchNui("getClientData", {modelValue: skinModel});
  };

  const closeDialog = () => {
    visibility.set(false);
    fetchNui("hideUI");
  };
</script>

<div class="container">
  <h2>Hii, everybody!</h2>
  <h4 style="font-style: italic; font-weight: 100">Hi, Dr Nick!</h4>

  {#if pedSkinValue}
    <div style="margin: 0.3vh 0;">
      You selected: {JSON.stringify(pedSkinValue.value)}
    </div>
  {/if}

  <div class="btn-wrapper select-options">
    <Select items={pedSkinOptions} bind:value={pedSkinValue} />
  </div>
  <div class="btn-wrapper">
    <button on:click={() => handleClientData(pedSkinValue?.value)}> Make me pretty! </button>
    <button on:click={closeDialog}>Close popup</button>
  </div>
</div>

<style>
  .container {
    position: absolute;
    top: 75vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 5px;
    width: 20em;
    height: 20em;
    font-size: 1.5vh;
    color: white;
    background-color: #812e1f;
    user-select: none;
  }

  .select-options {
    max-width: 95%;
    color: black;
    padding: 1.5em;

  }

  .btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  button {
    flex: 0 45%;
    padding: 0.8vh;
    background-color: white;
    color: black;
    font-family: "Segoe UI";
    border: none;
    border-radius: 5px;
  }

  button:hover {
    background-color: rgb(212, 212, 212);
  }
</style>
